fastapi
uvicorn
python-socketio
jinja2
sqlalchemy
bcrypt
python-jose
pydantic[email]
email-validator
mediapipe
opencv-python
ai-edge-litert
sentence-transformers
pyttsx3
requests
scipy
python-multipart
SpeechRecognition
PyAudio
playwright
